
.border-1 {
    border: 1px solid lightgray;
}

.h100-w100 {
    height: 100px;
    width: 200px;
}

.margin-auto {
    margin: auto;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

#name-el {
    height: 30px; 
    width: 500px; 
    margin: 50px auto 0px; 
    text-align: center; 
    font-size: 35px; 
    font-weight: bold;
    display: none;
}

#pet-age-el {
    height: 30px; 
    width: 500px; 
    margin: 15px auto 15px; 
    text-align: center; 
    font-size: 18px; 
    display: none;
}

#name-input-div-el {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
}

#message-el {
    display: flex;
    height: 30px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: hsl(0, 0%, 65%);
}

#message2-el {
    display: flex;
    height: 80px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color:  hsl(0, 0%, 65%);
    line-height: .6;
}

#reset-game-button-el {
    height: 25px;
    width: 80px;
    margin-bottom: 35px;
    background-color: white; 
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    color:  hsl(0, 0%, 65%);
    display: none;
}

#pet-el:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 50ms ease-in;
}

#feed-button-el,
#sleep-button-el,
#play-button-el {
    height: 80px;
    width: 80px;
    background-color: white; 
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
}

#name-input-el {
    background-color: white; 
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#name-input-button-el {
    background-color: white; 
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
}

#pet-el {
    display: none;
}

button:hover {
    /* font-size: 17px; */
    font-family: 'Lato', sans-serif;
    transform: scale(0.95);
    transition: transform 50ms ease-in;
}

button:active {
    padding-top: 8px;
}



.dead {
    pointer-events: none;
    cursor: not-allowed;
}

.slide-out {
	animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1 both;
}

.jello {
	animation: jello-horizontal 0.9s both;
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.wobble {
	animation: wobble-hor-bottom 0.9s both;
}

.rotate {
	animation: rotate-center 0.6s ease-in-out both;
}

.slide {
    animation: slide-in-left 60s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
}

/*
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@keyframes slide-out-top {
0% {
    transform: translateY(0px);
    opacity: 1;
}
100% {
    transform: translateY(-13px);
    opacity: 0;
}
}


/*
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@keyframes jello-horizontal {
0% {
    transform: scale3d(1, 1, 1);
}
30% {
    transform: scale3d(1.25, 0.75, 1);
}
40% {
    transform: scale3d(0.75, 1.25, 1);
}
50% {
    transform: scale3d(1.15, 0.85, 1);
}
65% {
    transform: scale3d(0.95, 1.05, 1);
}
75% {
    transform: scale3d(1.05, 0.95, 1);
}
100% {
    transform: scale3d(1, 1, 1);
}
}

/*
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
}
10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
}
17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
}
33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
}
45% {
    transform: scale(1);
    animation-timing-function: ease-out;
}
}


/*
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@keyframes wobble-hor-bottom {
0%,
100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
}
15% {
    transform: translateX(-30px) rotate(-6deg);
}
30% {
    transform: translateX(15px) rotate(6deg);
}
45% {
    transform: translateX(-15px) rotate(-3.6deg);
}
60% {
    transform: translateX(9px) rotate(2.4deg);
}
    transform: translateX(-6px) rotate(-1.2deg);
}

/*
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(360deg);
}
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
0% {
    transform: translateX(-200px);
    opacity: 1;
}
100% {
    transform: translateX(200px);
    opacity: 1;
}
}

